header{

    padding: 20px;
    position: fixed;
    width: -webkit-fill-available;
    top: 0;
    z-index: 999;
    background-color: white;
}

header div{

    display: flex;
}

header nav ul{

    display: flex;

}

header nav ul li{

    list-style: none;


}

header nav ul li a{

    padding: 10px 20px;
    color: #605E5E;
    text-transform: uppercase;
    font-size: 20px;
    transition: 1s ease;

}


header nav ul li:hover > a{

    color: #E1B6A3;

}