*{

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

}

body{

    min-height: 150vh;
    margin-top: 100px;
    background-color: #F9F8F6;

}


a{

    display: block;
    text-decoration: none !important;

}

.container{

    max-width: 1200px;
    margin: auto;

}

.container-2{

    max-width: 1000px;
    margin: auto;

}


.row{

    display: flex;

}

.space-betwen{

    justify-content: space-between;

}

.align-center{

    align-items: center;

}

.text-center{

    text-align: center;

}

.pt{

    padding-top: 50px;

}

.pb{

    padding-bottom: 50px;
    
}

hr{

    max-width: 52px;
    height: 5px;
    background-color: #E1B6A3;
    margin: 10px auto 80px !important;
    border-top: 0 !important;

}

p{

    line-height: 2.2em;
    margin-bottom: 40px;
    color: #605E5E;

}

h2{

    color: #6A879F !important;
    text-transform: uppercase;
    letter-spacing: 2px;

}


.bg-secondary{

    background-color: #EFE4DB;

}